/* Avenir LT W04_85 Heavy*/
@font-face {
  font-family: 'Avenir LT W04_85 Heavy';
  font-style: normal;  
  font-weight: 400;
  display: swap;  
  src:
    url('https://opel22.github.io/CustomFonts/Avenir_LT_W04_85_Heavy/Avenir_LT_W04_85_Heavy.woff2') format('woff2'),
    url('https://opel22.github.io/CustomFonts/Avenir_LT_W04_85_Heavy/Avenir_LT_W04_85_Heavy.woff') format('woff'),
    url('https://opel22.github.io/CustomFonts/Avenir_LT_W04_85_Heavy/Avenir_LT_W04_85_Heavy.ttf') format('truetype');
}