/* Prismaset Five*/
@font-face {
  font-family: 'Prismaset Five';
  font-style: normal;  
  font-weight: normal;
  src:
    url('https://opel22.github.io/CustomFonts/PrismasetFive/PrismasetFive.woff2') format('woff2'),
    url('https://opel22.github.io/CustomFonts/PrismasetFive/PrismasetFive.woff') format('woff'),
    url('https://opel22.github.io/CustomFonts/PrismasetFive/PrismasetFive.ttf') format('truetype'),
    url('https://opel22.github.io/CustomFonts/PrismasetFive/PrismasetFive.otf') format('opentype');
}
