/* Avenir LT W04_95 Black Oblique*/
@font-face {
  font-family: 'Avenir LT W04_95 Black Oblique';
  font-style: oblique;  
  font-weight: 400;
  display: swap;  
  src:
    url('https://opel22.github.io/CustomFonts/Avenir_LT_W04_95_Black_Oblique/Avenir_LT_W04_95_Black_Oblique.woff2') format('woff2'),
    url('https://opel22.github.io/CustomFonts/Avenir_LT_W04_95_Black_Oblique/Avenir_LT_W04_95_Black_Oblique.woff') format('woff'),
    url('https://opel22.github.io/CustomFonts/Avenir_LT_W04_95_Black_Oblique/Avenir_LT_W04_95_Black_Oblique.ttf') format('truetype');
}